<div class="card h-100 text-center" style="width: 18rem;">
  <a href="{{ .RelPermalink }}">
    <img src="/images/{{ .Params.Image }}" class="card-img-top" alt="{{ .Title }}">
  </a>
  <div class="card-body">
    <a href="{{ .RelPermalink }}" class="text-decoration-none">
      <h5 class="card-title">{{ .Title }}</h5>
    </a>
    <p class="card-text">{{ .Description }}</p>
    <div class="row g-0">
      <div class="col-2">
        <i data-feather="tag"></i>
      </div>
      <div class="col">
        <div class="row row-cols-auto gy-1 gx-1">
          {{ partial "tags.html" . }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-grid">
      <a href="{{ .RelPermalink }}" class="btn btn-primary">Go To Recipe</a>
    </div>
  </div>
</div>
